* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* Header Section */
.header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.header a {
    color: #fff;
    text-decoration: none;
    margin: 0 5px;
}

.login-right {
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    display: flex;
}

.contact-left {
    background-color: #45a049;
    display: flex;
}

.banner-container {
    height: 100px;
    background-color: #f2f2f2;
    display: inline;
    align-items: center;
    justify-content: center;
}
.main-bar {
display: inline; 

}

